SECRET_KEY=aqui-la-clave-generada
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
# Base de datos: si esta linea esta comentada, se usa SQLite
# DATABASE_URL=postgres://wms_user:mi_clave@localhost:5432/wms_db
